.home-page {
    padding: 40px 0;
}

.hero #home-title {
    color: #2e7d32;
}

.hero #home-subtitle{
    font-style: italic;
    font-size: large;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

/* responsive */
@media (max-width: 900px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .categories {
        grid-template-columns: 1fr;
    }
}

.category-card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-card:hover {
    transform: translateY(-4px);
}

.category-card h2 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #2e7d32;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
}

.btn {
    margin-top: auto;
    padding: 10px 22px;
    font-size: 14px;
}
