.card-container {
    display: flex;
    justify-content: center;
    height: 500px;
}

.plant-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    width: 100%;
}

/* Вътрешно съдържание */
.card-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    width: 100%;
    gap: 10px;
}

.plant-type {
    margin-top: 10px;
}

/* Картинката да е центрирана и с правилен размер */
.decorative-line img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.plant-name {
    font-size: larger;
    color: #2e7d32;
    font-weight: bold;
}